node_modules/
dist/
build/
docs/
.github/
init.sql
*.log
.DS_Store
.vscode/settings.json
coverage/
*.tgz
*.tar.gz
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.FuseBox
.dynamodb
.tern-port
*.csv
*.zip
*.log
